<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891643108026-ta7ir2j89d3knalh2o2l177fj85aggi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891643108026-ta7ir2j89d3knalh2o2l177fj85aggi4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjIpava9ZXre6CX61nZ50I_GGBGtIGUI</string>
	<key>GCM_SENDER_ID</key>
	<string>891643108026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>studio-epicx-data</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-epicx-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891643108026:ios:647cdcc4e1dad5bad38083</string>
</dict>
</plist>